@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 0rem;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #512a10;
  color: #512a10;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 50px;
}

.link-btn:hover {
  background: #512a10;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.header {
  z-index: 1000;
  padding: 4rem 0;
  margin: auto;
}

.header.active {
  padding: 3rem 0;
  background: #512a10;
}

.header .nav {
  text-align: center;
  margin: auto;
}

.header .nav a {
  font-size: 2rem;
  margin: 0px 1rem;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50px;
  padding: 5px 20px;
}

.header .nav a:hover {
  color: #222;
  background-color: white;
  border-radius: 50px;
}

.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/home-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home span {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
}

.home h3 {
  padding: 1rem 0;
  font-size: 6rem;
  color: #fff;
  text-transform: capitalize;
}

.home .link-btn {
  color: #fff;
  border-color: #fff;
  border-radius: 50px;
}

.about .size-logo {
  width: 80%;
  height: auto;
}

.about span {
  font-size: 2.5rem;
  color: #512a10;
}

.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.about .icons-container .icons {
  padding: 2rem;
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 14rem;
  flex: 1 1 14rem;
}

.about .icons-container .icons:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(77, 77, 147);
}

.about .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #512a10;
}

.about .icons-container .icons h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #222;
}

.about h1 {
  font-size: 3rem;
  padding: 3rem 20px 3rem;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
}

.about .col-lg-2 .size-img-coffee {
  width: 70%;
  transition: 0.5s;
  padding: 20px;
}

.about .col-lg-2 .size-img-coffee:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(77, 77, 147);
  border-radius: 50%;
  padding: 0;
  transition: 0.7s;
}

.about .col-lg-2 h4 {
  padding: 1rem 0px 2rem;
  font-size: 2rem;
  color: rgb(53, 48, 48);
}

.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.gallery .box-container .box {
  overflow: hidden;
  position: relative;
  height: 19rem;
}

.gallery .box-container .box:hover img {
  transform: scale(1.5);
  transition: 1s;
}

.gallery .box-container .box:hover .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  padding-top: 4rem;
}

.reviews h1 {
  color: #222;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}

.reviews .box-container .box:hover {
  background: #eee;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #000;
}

.reviews .box-container .box p {
  font-size: 1.6rem;
  line-height: 2;
  color: #222;
  margin-bottom: 0;
  padding: 1rem 0;
}

.reviews .box-container .box .stars {
  margin-top: 1rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: #512a10;
}

.breakSection {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/break-1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/break-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.breakSection h3 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.breakSection p {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.breakSection .link-btn {
  color: #fff;
  border-color: white;
}

.breakSection .link-btn:hover {
  border-color: #512a10;
}

.contact .contact-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact .contact-info-container .box {
  border: 0.1rem solid #512a10;
  padding: 3rem 2rem;
  border: 0.1rem solid #512a10;
  text-align: center;
}

.contact .contact-info-container .box:hover i {
  background: #512a10;
  color: #fff;
}

.contact .contact-info-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid #512a10;
  color: #512a10;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .contact-info-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  padding: 1rem 0;
}

.contact .contact-info-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.contact .map {
  height: 26rem;
}

footer {
  text-align: center;
  padding: 10px;
  background: #512a10;
}

footer .credit {
  margin: 1rem 0;
  font-size: 2rem;
  color: #eee;
}
footer img {
  width: 50px;
  padding: 0px 5px;
}

footer .share {
  margin-top: 2rem;
}

footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  margin: 0 0.3rem;
  border-radius: 50px;
}

footer .share a:hover {
  background: #fff;
  color: #512a10;
  border-radius: 50px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }
  .home h3 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 4rem 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    margin: 1rem 2rem;
    color: #222;
  }
  .gallery .box-container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .reviews .box-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .contact .map {
    height: 25rem;
    width: 707px;
  }
  .contact .contact-info-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (max-width: 426px) {
  html {
    font-size: 50%;
  }
  .gallery .box-container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .reviews .box-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .contact .map {
    height: 25rem;
    width: 410px;
  }
  .contact .contact-info-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media (max-width: 376px) {
  .about .col-lg-2 h4 {
    padding: 0;
  }
  .gallery .box-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .contact .map {
    height: 25rem;
    width: 363px;
  }
}

@media (max-width: 320px) {
  .about .col-lg-2 h4 {
    padding: 0;
  }
  .gallery .box-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .contact .map {
    height: 25rem;
    width: 305px;
  }
}
